/Practica2/Ejercicio1/nbproject/private/
/Practica2/Ejercicio1/build/
/Practica2/Ejercicio2/nbproject/private/
/Practica2/Ejercicio2/build/
/Practica2/EJERCICIO _1/nbproject/private/
/Practica2/EJERCICIO _1/build/
/Practica4/EJERCICIO_2/nbproject/private/
/Practica4/EJERCICIO_2/build/
